<section class="ui five column grid stretched latest-reading">
  <!-- Station Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            <h3>{{capitilize station.name}}</h3>
            <p>Lat: {{station.latitude}}</p>
            <p>Lng: {{station.longitude}}</p>
          </div>
          <div class="six wide column">
            <i class="map marker alternate icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Weather Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            {{#with (mapCodetoWeather reading.code)}}
            <h3>Weather</h3>
            <p>{{label}}</p>
          </div>
          <div class="six wide column">
            <p>
              <i class="{{icon}} icon"></i>
            </p>
            {{/with}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Temperature Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            <h3>Temp</h3>
            <p>{{reading.temperature}} C</p>
            <p>{{reading.temperature}} F</p>
          </div>
          <div class="six wide column">
            <div class="reading-icon">
              <i class="{{tempIcon reading.temperature}} icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Wind Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            <h3>Wind</h3>
            <p>{{toBeaufort reading.windSpeed}}</p>
            <p>{{beaufortLabel (toBeaufort reading.windSpeed)}}</p>
            <p>{{windCompassLabel (windCompass reading.windDirection)}}</p>
            <p>Feels Like: </p>
            <p>{{windChill reading.temperature reading.windSpeed}}</p>
          </div>
          <div class="six wide column">
            <div class="reading-icon">
              <i class="icon {{windIcon reading.windSpeed}}"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pressure Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            <h3>Pressure</h3>
            <p>{{reading.pressure}} hpa</p>
          </div>
          <div class="six wide column">
            <div class="reading-icon">
              <i class="water icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>