<section class="ui five column grid stretched latest-reading">
  <!-- Station Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            <h3>{{capitilize station.name}}</h3>
            <p>Lat: {{toFixed station.latitude}}</p>
            <p>Lng: {{toFixed station.longitude}}</p>
          </div>
          <div class="six wide column">
            <i class="map marker alternate icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#with (last station.readings)}}
  <!-- Weather Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          {{#with (weatherCodeDisplay code)}}
          <div class="ten wide column">
            <h3>Weather</h3>
            <p>{{label}}</p>
          </div>
          <div class="six wide column">
            <p>
              <i class="{{icon}} icon"></i>
            </p>
            {{/with}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Temperature Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            <h3>Temp</h3>
            <p>{{temperature}} C</p>
            <p>{{asFahrenheit temperature}} F</p>
            <p>Max:{{getMax ../station.readings "temperature"}}</p>
            <p>Min: {{getMin ../station.readings "temperature"}}</p>
          </div>
          <div class="six wide column">
            <div class="reading-icon">
              <i class="{{tempIcon temperature}} icon"></i>
            </div>
            {{> displaytrend readings=../station.readings trendLookup="temperature"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Wind Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            <h3>Wind</h3>
            <p>{{toBeaufort windSpeed}}</p>
            <p>{{beaufortLabel (toBeaufort windSpeed)}}</p>
            <p>{{windCompassLabel (windCompass windDirection)}}</p>
            <p>Feels Like: </p>
            <p>{{windChill temperature windSpeed}}</p>
            <p>Max: {{getMax ../station.readings "windSpeed"}}</p>
            <p>Min: {{getMin ../station.readings "windSpeed"}}</p>
          </div>
          <div class="six wide column">
            <div class="reading-icon">
              <i class="icon {{windIcon windSpeed}}"></i>
            </div>
            {{> displaytrend readings=../station.readings trendLookup="windSpeed"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pressure Details -->
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <div class="ui grid">
          <div class="ten wide column">
            <h3>Pressure</h3>
            <p>{{pressure}} hpa</p>
            <p>Max: {{getMax ../station.readings "pressure"}}</p>
            <p>Min: {{getMin ../station.readings "pressure"}}</p>
          </div>
          <div class="six wide column">
            <div class="reading-icon">
              <i class="water icon"></i>
            </div>
            {{> displaytrend readings=../station.readings trendLookup="pressure"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</section>