{{> menu id="dashboard"}}

<!-- Main Heading -->
<section class="ui segment">
  <h2 class="ui center aligned icon header blue">
    <i class="circular chart bar icon"></i>
    <span class="blue">Dashboard</span>
  </h2>
</section>
<!-- New Station Nav Link -->
{{#if error}}
  {{> displayerror error=error }}
{{/if}}
<section class="ui segment">
  <a href="#newStation">
    <button class="ui primary button">
      <i class="plus icon"></i>Add New Station
    </button>
  </a>
</section>
<!-- Stations List -->
{{#if stations}}
{{#each stations}}
  <section class="ui segment">
  {{#if readings}}
    {{> latestreading station=this readings=readings}}
  {{else}}
    <h2>{{capitilize name}}</h2>
    <p>No Weather available for {{capitilize name}} Station.</p>
  {{/if}}
  <div class="ui divider"></div>
  <a href="/stations/{{id}}">
    <div class="ui vertical animated button">
      <div class="hidden content">View</div>
      <div class="visible content">
        <i class="eye icon"></i>
      </div>
    </div>
  </a>
  </section>
{{/each}}
{{else}}
<div class="ui icon blue message">
  <i class="lightbulb icon"></i>
  <div class="content">
    <div class="header">
      You currently have no Weather Stations
    </div>
  </div>
</div>
{{/if}}
<!-- New Station Form -->
<section class="ui section " id="newStation">
  {{> createstationform }}
</section>